.container {
  width: 100%;
  background: var(--background-layout);
  border: 1px solid var(--border);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
}

.container .header {
  padding: 24px;
  border-bottom: 1px solid var(--border);
  display: flex;
  justify-content: space-between;
}

.container .header .buttons__container {
  display: flex;
  gap: 18px;
}

.container .header .buttons__container .child__section {
  display: flex;
  gap: 18px;
}

.container .header .buttons__container button {
  width: 86px;
  padding: 0;
  height: 86px;
  background: rgba(244, 129, 129, 0.1);
  flex-direction: column;
  gap: 15px;
}

.container .header .buttons__container .stop__button {
  background: rgba(244, 129, 129, 0.1);
}

.container .header .buttons__container button span:last-child {
  font-size: 12px;
  line-height: 15px;
  color: var(--stop-texting);
}

.container .header .buttons__container .pause__button {
  background: var(--pause-button);
}

.container .header .buttons__container .pause__button path {
  fill: var(--blue);
}

.container .header .time span:first-child {
  font-weight: 700;
  font-size: 21px;
  line-height: 25px;
  color: var(--count);
}

.container .header .time span:last-child {
  font-weight: 400;
  font-size: 9.8px;
  line-height: 12px;
  color: var(--mute-text);
}

.container .header .mark {
  padding: 12px 24px;
}

.container .text__wrapper {
  display: flex;
  overflow: hidden;
  flex-direction: column;
  margin: 12px;
  /*font-family: monospace;*/
  height: 50px;
}

.container .text__wrapper .text__editor__wrapper {
  border: 1px solid var(--border);
  flex: 1;
  border-radius: 12px;
  background: var(--file-upload-container);
}

@media only screen and (max-width: 1160px) {
  .container {
    flex: 0.5;
  }
  .container .header {
    gap: 11px;
    flex-direction: column;
  }

  .container .header .buttons__container:last-child {
    display: flex;
    gap: 18px;
  }

  .container .header .buttons__container button {
    flex: 1;
    flex-direction: row;
    height: auto;
    padding: 9px 0;
  }

  .container .header .buttons__container .child__section {
    flex-direction: column;
    gap: 11px;
    align-items: center;
    flex: 1;
  }

  .container .header .buttons__container .child__section .mark {
    width: 100%;
  }
}

@media only screen and (max-width: 440px) {
  .container .header .buttons__container .child__section .mark {
    width: 100%;
    padding: 12px 0;
    font-size: 0.8rem;
  }
  .container .header .buttons__container .child__section {
    gap: auto;
  }
}
