
.container {
    position: fixed;
    background: var(--background-middle);
    color: var(--opposite);
    width: 100%;
    height:calc(100vh - 198px);
    top: 92px;
    left: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
