/*!******************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/common/Checkbox/index.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************/
.Checkbox_checkbox__container__Hc7km {
    width: 25px;
    height: 25px;
    border: 1px solid var(--blue);
    background: var(--background-middle);
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-radius: 8px;
}

.Checkbox_checkbox__container__Hc7km input {
    opacity: 0;
    position: absolute;
}

.Checkbox_checkbox__container__Hc7km path {
    fill: var(--blue)
}


