/*!****************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/components/FileTranslator/index.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************/

.FileTranslator_file__translator__wrapper__VioSG {
    width: 677px;
    height: 431px;
    background: var(--background-layout);
    border: 2px solid var(--border);
    border-radius: 18px;
    margin-left: auto;
    margin-right: auto;
}

.FileTranslator_file__translator__header__LBeNX {
    height: 84px;
    padding:0 18px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--border);
}

.FileTranslator_file__translator__header__LBeNX .FileTranslator_checkbox__container__Cmvs5 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:12px;
    color: var(--text);
}

.FileTranslator_file__upload__container__yyh7J {
    padding: 18px;
}

.FileTranslator_allowed__files__CUIB4 {
    display: flex;
    gap: 11px;
    padding-top:16px
}

.FileTranslator_allowed__files__CUIB4 h4 {
    color:var(--mute-text);

}

.FileTranslator_allowed__files__CUIB4 h4 span {
    color: #F50000;
}

.FileTranslator_allowed__files__CUIB4 span {
    font-weight: 700;
    color:var(--text);
}

@media only screen and (max-width: 992px) {
    .FileTranslator_file__translator__wrapper__VioSG {
        width: 100%;
        height: auto;
    }
}

@media only screen and (max-width: 768px) {
    .FileTranslator_file__translator__header__LBeNX {
        flex-direction: column-reverse;
        height: 114px;
        align-items: flex-start;
        justify-content: center;
        gap: 16px;
    }
    .FileTranslator_allowed__files__CUIB4 {
        font-size: 14px;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: 200px) {
    .FileTranslator_file__translator__wrapper__VioSG {
        width: 1140px;
    }
}

