/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/common/DragFileUpload/index.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/

.DragFileUpload_file__upload__container__XgQDR {
    border: 2px dashed var(--border);
    width: 100%;
    height: 276px;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 34px 0;
    justify-content: space-between;
}

.DragFileUpload_file__upload__title__MCwZL {
    color: var(--text);
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
}

.DragFileUpload_file__upload__icon__yibrI path {
    fill: var(--border);
}

.DragFileUpload_file__upload__description__U2rZv {
    font-size: 14px;
    line-height: 17px;
    color: var(--mute-text);
    text-align: center;
}

@media only screen and (max-width: 768px) {
    .DragFileUpload_file__upload__description__U2rZv {
        display: none;
    }
    .DragFileUpload_file__upload__container__XgQDR {
        height: none;
        gap:24px
    }
}
