/*!****************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[8].use[3]!./src/common/Button/index.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************/

.Button_translator__button__container__vdfGf {
    border: 1px solid var(--border);
    border-radius:6px;
    background: var(--background-translator-button);
    padding:4px;
    height: 48px;
    gap:10px;
    align-items:center;
    display: flex;
}

.Button_translator__button__container__vdfGf div {
    padding: 12.5px 41px;
    flex: 1 1;
    justify-content: center;
    display: flex;
    height: 40px;
    align-items: center;
    gap:15px;
    border-radius: 6px;
}

.Button_translator__button__container__vdfGf div.Button_animation__M_Ahd {
    background:
            linear-gradient(90deg, var(--blue) 50%, transparent 0) repeat-x,
            linear-gradient(90deg, var(--blue) 50%, transparent 0) repeat-x,
            linear-gradient(0deg, var(--blue) 50%, transparent 0) repeat-y,
            linear-gradient(0deg, var(--blue) 50%, transparent 0) repeat-y;
    background-size: 4px 2px, 4px 2px, 2px 4px, 2px 4px;
    background-position: 0 0, 0 100%, 0 0, 100% 0;
    animation: Button_linearGradientMove__ox0Bn .3s infinite linear;
}

.Button_translator__button__container__vdfGf div.Button_active__ubAso {
    background:var(--background-translator-button-active);
}

.Button_translator__button__container__vdfGf div.Button_active__ubAso span {
    color: var(--active-button-color);
}

.Button_translator__button__container__vdfGf div.Button_active__ubAso path {
    fill: var(--active-button-color)
}

.Button_translator__button__container__vdfGf span {
    display: flex;
    align-items: center;
    color: var(--social-icon)
}

.Button_translator__button__container__vdfGf path {
    fill: var(--social-icon)
}

@keyframes Button_linearGradientMove__ox0Bn {
    100% {
        background-position: 4px 0, -4px 100%, 0 -4px, 100% 4px;
    }
}

.Button_button__elDv3 {
    background:var(--blue);
    color:#fff;
    padding: 15px 36px;
    border-radius: 12px;
    border:none;
    cursor:pointer;
    outline: none;
    font-weight: 500;
    justify-content: center;
    display: flex;
    gap: 12px;
    align-items: center;
    font-size: 16px;
}

.Button_button__elDv3 path {
    fill: #fff;
}

@media only screen and (max-width: 768px) {
    .Button_translator__button__container__vdfGf {
        width: 100% !important;
    }

    .Button_translator__button__container__vdfGf div {
        padding: 12.5px 0;
        font-size: 14px;
        gap:10px;
    }
    .Button_button__elDv3 {
        padding: 15px 24px;
        font-size:14px
    }
}
