
.microphone {
    display: flex;
    align-items: center;
    position: relative;
}

.mute path {
    fill: var(--mute-text) !important;
}

.microphone span {
    font-size: 12px;
}

.microphone span.text span {
    color: var(--mute-text);
    padding-left: 11px;
}

.tooltip {
    border: 1px solid var(--border);
    border-radius: 12px !important;
    color: var(--text) !important;
    background: var(--background-layout) !important;
    padding:13px !important;
    top:45px !important;
    left:-11% !important;
}

.tooltip__content {
    display: flex;
    align-items: center;
    gap:18px;
}

.tooltip__content path {
    fill: var(--blue) !important;
}

@media only screen and (max-width: 1160px) {
    .microphone span.text {
        display: none;
    }

}