.microphone {
  display: flex;
  align-items: center;
  position: relative;
}

.mute path {
  fill: var(--mute-text) !important;
}

.microphone span {
  font-size: 12px;
}

.microphone span.text span {
  color: var(--mute-text);
  padding-left: 11px;
}

.tooltip {
  border-radius: 12px !important;
  color: var(--text) !important;
  transform: translateX(-12%) !important;
}

.tooltip::after {
  left: 11% !important;
}

.tooltip__content {
  display: flex;
  align-items: center;
  gap: 18px;
}

.tooltip__content path {
  fill: var(--blue) !important;
}

@media only screen and (max-width: 1160px) {
  .microphone span.text {
    display: none;
  }
  .tooltip {
    transform: translateX(-6%) !important;
  }
  .tooltip::after {
    left: 6% !important;
  }
}

@media only screen and (max-width: 576px) {
  .tooltip {
    width: 230px;
  }
}
