@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Monstserrat;
  src: url("/fonts/Montserrat/static/Montserrat-Regular.ttf");
  font-display: swap;
}

body {
  font-family: "Monstserrat", sans-serif;
  color: #192133;
}

.rdw-option-wrapper {
  border: none !important;
  /* background-color: #d3eaff !important; */
  box-shadow: none !important;
  padding: 4px !important;
}

.rdw-editor-toolbar {
  margin: 0 !important;
  display: flex !important;
  border: none !important;
}
.rdw-option-active {
  background-color: blueviolet !important;
}
