@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat/static/Montserrat-SemiBold.ttf")
    format("truetype");
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat/static/Montserrat-ExtraBold.ttf")
    format("truetype");
  font-display: swap;
  font-weight: 800;
}

body {
  font-family: "Montserrat";
  color: #273a5d;
}

.bg_about {
  background-image: url("../public/img/bg_about.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.bg-tezyoz{
  background-image: url("../public/img/bg_about.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.rdw-option-wrapper {
  border: none !important;
  box-shadow: none !important;
  width: 44px !important;
  height: 44px !important;
  background: inherit;
}

.rdw-editor-toolbar {
  margin: 0 !important;
  display: flex !important;
  border: none !important;
  gap: 0px !important;
  align-items: center !important;
  padding: 0 !important;
}

.rdw-inline-wrapper {
  gap: 0px !important;
  margin: 0 !important;
}

.rdw-option-active {
  background-color: #d3dafd !important;
  border-radius: 6px !important;
}

.rdw-list-wrapper .rdw-option-disabled {
  display: none !important;
}

div.rdw-inline-wrapper div[title="Unordered"] {
  display: none !important;
}


[title~="Monospace"], [title~="Subscript"], [title~="Superscript"] , [title~="Strikethrough"] {
  display: none !important;
}

[title~="Bold"] img{
  content:url("../public/img/bold.png");
}

[title~="Italic"] img{
  content:url("../public/img/italic.png");
}

[title~="Underline"] img{
  content:url("../public/img/underline.png");
}

[title~="Unordered"] img{
  content:url("../public/img/list\ \(1\).png");
}

[title~="Ordered"] img{
  content:url("../public/img/list\ \(2\).png");
}

[title~="Undo"] img{
  content:url("../public/img/rotate-ccw.png");
}

[title~="Redo"] img{
  content:url("../public/img/rotate-cw.png");
}


.rdw-list-wrapper{
  display: flex !important;
  align-items: center !important;
  margin-top: 5px !important;
}
.rdw-editor-wrapper,
.rdw-editor-main {
  flex: 1 !important;
  overflow: unset !important;
}

