@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat/static/Montserrat-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat/static/Montserrat-Medium.ttf") format("truetype");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat/static/Montserrat-SemiBold.ttf")
    format("truetype");
  font-display: swap;
  font-weight: 600;
}

@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat/static/Montserrat-Bold.ttf") format("truetype");
  font-display: swap;
  font-weight: 700;
}
@font-face {
  font-family: Montserrat;
  src: url("/fonts/Montserrat/static/Montserrat-ExtraBold.ttf")
    format("truetype");
  font-display: swap;
  font-weight: 800;
}

body {
  font-family: "Montserrat";
  color: #273a5d;
}

.bg_about {
  background-image: url("../public/img/bg_about.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.rdw-option-wrapper {
  border: none !important;
  /* background-color: #d3eaff !important; */
  box-shadow: none !important;
  padding: 4px !important;
}

.rdw-editor-toolbar {
  margin: 0 !important;
  display: flex !important;
  border: none !important;
}
.rdw-option-active {
  background-color: blueviolet !important;
}
