.typingEditor {
  padding: 0 !important;
  height: 100%;
  position: absolute;
  word-spacing: 3.3px;
}

.Textaera_container__pHe_a {
  height: 100%;
}

.typingEditor .public-DraftStyleDefault-block.public-DraftStyleDefault-ltr {
  margin: 0;
  font-size: 20px;
  z-index: 1;
  /* color: #000; */
  line-height: 24px;
  font-weight: 300;
}

.content {
  position: absolute;
  font-weight: 300;
  line-height: 24px;
  font-size: 20px;
  top: 12px;
  left: 49%;
  width: max-content;
  right: 12px;
  color: var(--mute-text);
  opacity: 0.5;
  word-spacing: 3.3px;
}

.wrapper {
  position: relative;
  height: 100%;
  padding: 12px;
}

.character {
  transition: all 0.2s linear;
  color: inherit;
  background-color: inherit;
  color: var(--text);
}
